@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat+Brush&display=swap');

/*.container {
    margin: 15px;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif; 
    color: #2F4B58;    
    max-width: 1950px;
}

h1, h2, h3 {
    font-family:  Caveat Brush, Helvetica, sans-serif; 
    color: #2F4B58;
}


/*----------------------BORDER ROWS AND COLUMNS----------*/

.test-red {
    border: 3px solid red
}

.test-blue {
    border:1px solid blue
}


/*-----------------------Header ----------*/

.navbar-brand {
    font-family:  Caveat Brush, Helvetica, sans-serif;
    font-size: 280%; 
    margin-left: 20px;
    margin-top: 10px;
}

.navbar-light .navbar-brand {
    color: #2F4B58;
}

.navbar-nav {
    float: right;
}

.navbar-nav li a{
    margin-top: 20px;
    color: #2F4B58;
}


.navbar-toggler {
    border: 2px solid #2F4B58;
    color: #2F4B58;
} 
 


/*-----------------------Hero-image ----------*/

.container-hero {
    height: 400px;
    overflow: hidden;
}

.hero-image {
    height: 400px;
    width: 110%;
    background: url(../images/milk-kefir-grains-spoon_1024x1024.jpg) no-repeat center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.cover-text h2{
    color: whitesmoke;
    font-size: 140%;
    letter-spacing: 4px;
    text-align: center;
    


    width: 200px;
    height: 75px;

    padding-top: 10px;
    
    background-color: rgba(0, 0, 0, .5);
    border-radius: 30px;

    top: 200px;
    left: 100px;

    position: absolute; 
}




/*------Animation of the Hero image-------*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

/*-----------------------What-is-kefir-are----------*/

.welcome-text {
    text-align: center;
    margin: 25px, 0;
    padding-top: 30px;
}

.kefir-description{
    padding: 40px;
}

.kefir-description-image {
    padding-top: 20px;
    text-align: center;
}


/*-----------------------kefir-benefits-area----------*/

.benefits-title {
    text-align: center;
    margin: 40px, 0;
    
}

.benefits-row {
    padding: 40px;
    color: #2F4B58;
    
}

.benefits-box1 {
    background-color: #ECECDE;
}




/*-----------------------testimonies----------*/
.testimonies-title {
    text-align: center;
    margin: 25px, 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimony-image1 {
   padding-top: 40px;
   /* padding-left: 50px;  */
   display: flex;
   justify-content: center;
}

.testimony-image2 {
    padding-top: 40px;
    /* padding-left: 100px;  */
    display: flex;
   justify-content: center;
 }


.testimony-box {
    padding: 50px;
    justify-content: center;
}


/*-----------------------RECIPES-PAGE----------*/

.recipes-title{
    text-align: center;
    margin: 40px, 0;
}

.picture-box {
    padding-top: 5px;
    display: flex;
   justify-content: center;
   
 }

/*-----------------------footer----------*/

footer {
    height: 80px;
    width: 100%;
    background-color: #2F4B58;
    overflow: hidden;
    margin-top: 20px;

}

.social-networks {
    text-align: center;
    margin-right: 20px;
}

.social-networks a {
    color: white;
    display: inline-block;
    
    margin: 1px;
    padding: 2%;  
    
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-networks a i:hover {
    color: black;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
  }

  .social-networks span {
    color: white;
}
