@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat+Brush&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif; 
    color: #2F4B58;    
    max-width: 1950px;
}

h1, h2, h3 {
    font-family:  Caveat Brush, Helvetica, sans-serif; 
    color: #2F4B58;
}